<!-- <h1>Games#score</h1>
<p>Find me in app/views/games/score.html.erb</p>
 -->

 <h1>This is your score:</h1>

 <p>Your answer was: <%= @answer %></p>

 <p>From the grid: <%= @grid %></p>


<p>And thus your score is: <%= @results %></p>
